#pop_bg{display: none;position:absolute;top:0;width:100%;height:100%;z-index: 1040;background-color: #000;opacity: 0.75;filter: alpha(opacity=75);}
#reg_box{display: none; z-index: 99999;}
#log_box{display: none; z-index: 99999;}


.loginForm{margin:0 auto 70px;width:734px;}
.loginForm a{color:#717171;font-weight:bold;text-decoration:none;}
.loginForm a:hover{color:#8a8a8a;}
.loginForm .formErrorMessage,.loginForm .formWarningMessage{color:#cb2027;margin:10px 0 0;}
.loginForm>h1{white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;color:#333;font-size:35px;}
.loginForm .formTitle{white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;color:#333;font-size:35px;}
.loginForm>h2{font-family:'Helvetica','Hiragino Kaku Gothic Pro','Meiryo',sans-serif;font-weight:bold;color:#333;font-size:20px;margin:40px 0 10px;}
.loginForm>ul{border-radius:6px;background:#fff;margin:0;}
.loginForm>ul>li{border-top:1px solid #dfdfdf;padding:15px 21px 15px 27px;}
.loginForm>ul>li:first-child{border:0;}
.loginForm .formItem{border-top:1px solid #dfdfdf;padding:15px 21px 15px 27px;}
.loginForm .formItem:first-child{border:0;}
.loginForm>ul>li>h3{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#555;float:left;font-size:13px;font-weight:bold;padding:4px 10px 0 0;width:216px;}
.loginForm>ul>li>h3 .hasError{color:#cb2027;}
.loginForm .formItem>h3{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#555;float:left;font-size:13px;font-weight:bold;padding:4px 10px 0 0;width:216px;}
.loginForm .formItem>h3 .hasError{color:#cb2027;}
.loginForm>ul>li>div{margin-left:226px;}
.loginForm .formItem>div{margin-left:226px;}
.loginForm .learnMore{float:right;font-size:11px;}
.loginForm input[type="text"],.loginForm input[type="email"],.loginForm input[type="password"],.loginForm input[type="url"],.loginForm textarea{background-color:#f2f2f2;background:-webkit-linear-gradient(#f0f0f0, #f5f5f5);background:linear-gradient(#f0f0f0, #f5f5f5);-moz-box-sizing:border-box;box-sizing:border-box;width:100%;border-radius:3px;border:1px solid #d6d3ce;box-shadow:0 0 3px rgba(0, 0, 0, 0.12) inset;color:#333;font-size:14px;padding:7px;}
.loginForm textarea{height:85px;line-height:20px;resize:vertical;}
.loginForm select{border-radius:6px;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;background-color:#f5f5f5;border:1px solid #cfcfcf;color:#333;cursor:pointer;font-weight:bold;height:28px;padding:4px 4px 4px 14px;}
.inModal .standardForm,.modalStyle .standardForm,.inModal .loginForm,.modalStyle .loginForm,.inModal .trademarkForm,.modalStyle .trademarkForm{background-color:#fff;border-radius:6px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.44);margin-bottom:0;width:auto;}
.standardForm>h1,.loginForm>h1{margin:25px 0 0;}
.inModal .standardForm>h1,.modalStyle .standardForm>h1,.inModal .loginForm>h1,.modalStyle .loginForm>h1,.inModal .trademarkForm>h1,.modalStyle .trademarkForm>h1{border-bottom:1px solid #e7e7e7;color:#333;font-size:20px;margin:0;min-height:20px;padding:17px 18px 13px 18px;position:relative;}
.loginForm .formTitle{margin:25px 0 0;}
.inModal .standardForm .formTitle,.modalStyle .standardForm .formTitle,.inModal .loginForm .formTitle,.modalStyle .loginForm .formTitle,.inModal .trademarkForm .formTitle,.modalStyle .trademarkForm .formTitle{border-bottom:1px solid #e7e7e7;color:#333;font-size:20px;margin:0;min-height:20px;padding:17px 18px 13px 18px;position:relative;}
.inModal .standardForm>ul>li,.inModal .loginForm>ul>li,.inModal .trademarkForm>ul>li{padding-left:18px;padding-right:21px;}
.inModal .standardForm .formItem,.inModal .loginForm .formItem,.inModal .trademarkForm .formItem{padding-left:18px;padding-right:21px;}
.inModal .standardForm>ul>li>h3,.inModal .loginForm>ul>li>h3,.inModal .trademarkForm>ul>li>h3{width:130px;}
.standardForm>ul>li>h3.optional,.loginForm>ul>li>h3.optional{font-style:italic;font-weight:normal;}
.inModal .standardForm .formItem>h3,.inModal .loginForm .formItem>h3,.inModal .trademarkForm .formItem>h3{width:130px;}
.standardForm .formItem>h3.optional,.loginForm .formItem>h3.optional{font-style:italic;font-weight:normal;}
.inModal .standardForm>ul>li>div,.inModal .loginForm>ul>li>div,.inModal .trademarkForm>ul>li>div{margin-left:140px;}
.standardForm .formItem>div,.loginForm .formItem>div{margin-left:226px;}
.inModal .standardForm .formItem>div,.inModal .loginForm .formItem>div,.inModal .trademarkForm .formItem>div{margin-left:140px;}
.formInlineCheckedSet{padding-top:6px;}
.formInlineCheckedSet li{display:inline-block;margin-right:25px;}
.formInlineCheckedSet label{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow:hidden;color:#555;cursor:pointer;}
.formInlineCheckedSet label .fancyToggle{float:left;margin-right:8px;}
.formInlineCheckedSet label>input{margin-right:3px;}
.formInlineCheckedSet label>span{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:13px;font-weight:bold;vertical-align:middle;}
.formInlineCheckedSet label.hasError span{color:#cb2027;}
.formInlineCheckedSet .formErrorMessage{display:none;}
.formInlineCheckedSet .formHelpMessage{display:none;}
.formInlineCheckedSetItem{display:inline-block;margin-right:25px;}
.formErrorMessage,.formWarningMessage{font-size:13px;}
label{cursor:pointer;}
.formFooter{border-radius:0 0 6px 6px;background:#f0f0f0;clear:both;border-top:1px solid #dadada;padding:10px 20px;}
.formFooter:after{content:"";display:table;clear:both;}
.formFooter .formFooterDelete{float:left;margin-right:10px;}
.formFooter .formFooterButtons{float:right;}
.formFooter .helpText{color:#444;float:left;font-size:11px;line-height:15px;margin:0;}
.formFooter .helpText a{color:#cb2027;font-weight:bold;}
.formFooter .helpText a:hover{text-decoration:underline;}
.formFooter .helpText a:active{color:#cb2027;}
.formFooter .btn.Button{margin-left:8px;padding-left:15px;padding-right:15px;}
.formFooter .btn.Button.deleteButton{margin-left:0;}
.standardForm .learnMore{margin:7px 0 0 10px;}
.loginForm{padding-top:20px;width:470px;}
.loginForm>ul>li{position:relative;}
.loginForm .formItem{position:relative;}
.loginForm>h1{color:#525252;font-size:23px;margin:10px 40px 15px;}
.loginForm .formTitle{color:#525252;font-size:23px;margin:10px 40px 15px;}
.loginForm>ul{margin-bottom:20px;overflow:hidden;}
.loginForm>ul>li{border:none;padding:5px 40px;}
.loginForm .formItem{border:none;padding:5px 40px;}
.loginForm select{font-size:16px;font-weight:normal;height:36px;}
.loginForm .formFooter{font-size:14px;padding:20px 40px;}
.loginForm .formFooter a:hover{color:#cb2027;}
.loginForm .formHelpMessage{color:#008000;position:absolute;right:57px;top:16px;}
.loginForm input[type="text"],.loginForm input[type="email"],.loginForm input[type="password"],.loginForm input[type="url"],.loginForm textarea{border-radius:3px;font-size:20px;padding:15px;}
.loginForm .helpText{line-height:40px;font-size:15px;}
.loginForm .email.hasError{padding-right:130px;}

.Button{position:relative;}
.Button.loading{min-height:0;}
.Button.loading .buttonText,.Button.loading em{visibility:hidden;}
.Button .buttonBadge{display:inline-block;position:relative;vertical-align:middle;}
.Button em{display:inline-block;position:relative;vertical-align:middle;}
.Button .accessibilityText{font:0/0 serif;text-shadow:none;color:transparent;position:absolute;}
.Button .hasText em{margin-right:6px;}
.Button.offsiteLink{font-weight:bold;}
.Button.website em{width:18px;height:17px;background:url('/webapp/style/sprites/webapp-common-main-1x.95de59eb.png') -200px 0px no-repeat;}
.Button.btn.rounded, .Button.moreItems:hover.rounded {border-radius: 3px;}
.Button.moreInfo em{width:14px;height:14px;background:url('/webapp/style/sprites/webapp-common-main-1x.95de59eb.png') -200px -147px no-repeat;}
.Button.btn[disabled],.Button.btn.disabled,.Button.btn.disabled:hover,.Button.btn.disabled:focus,.Button.btn.disabled:active{box-shadow:none !important;text-shadow:0 0 0 !important;background:#ebebeb !important;border:1px solid #ddd !important;color:#aaa !important;cursor:default;}
.Button.btn[disabled].repinSmall em,.Button.btn.disabled.repinSmall em,.Button.btn.disabled:hover.repinSmall em,.Button.btn.disabled:focus.repinSmall em,.Button.btn.disabled:active.repinSmall em{width:34px;height:15px;background:url('/webapp/style/sprites/webapp-common-main-1x.95de59eb.png') -72px -191px no-repeat;}
.Button.btn.noSidePadding{padding-left:0;padding-right:0;}

.UserRegisterBase{}
.UserRegisterBase .firstName{float:left;}
.UserRegisterBase .lastName{float:right;}
.UserRegisterBase .emailField{overflow:hidden;}
.UserRegisterBase .hidden{display:none;}
.UserRegisterBase .squareLogo{display:inline-block;background-color:#b51b23;background:-webkit-linear-gradient(#e0242d, #8a141a);background:linear-gradient(#e0242d, #8a141a);border:1px solid #741015;border-top-color:#8a141a;color:#444;text-shadow:0 1px #fff;border-radius:6px;margin-right:10px;}
.UserRegisterBase .squareLogo:hover,.UserRegisterBase .squareLogo:focus,.UserRegisterBase .squareLogo:active,.UserRegisterBase .squareLogo.active{border:1px solid #470a0d;border-top-color:#741015;}
.UserRegisterBase .squareLogo:active,.UserRegisterBase .squareLogo.active{background-color:#ab181f;background:-webkit-linear-gradient(#cd1d26, #8a141a);background:linear-gradient(#cd1d26, #8a141a);box-shadow:inset 0 2px 3px rgba(0, 0, 0, 0.2);}
.UserRegisterBase .squareLogo.facebook{background-color:#3d5ba2;background:-webkit-linear-gradient(#5072c3, #2c4681);background:linear-gradient(#5072c3, #2c4681);border:1px solid #263c6e;border-top-color:#2c4681;color:#444;text-shadow:0 1px #fff;}
.UserRegisterBase .squareLogo.facebook:hover,.UserRegisterBase .squareLogo.facebook:focus,.UserRegisterBase .squareLogo.facebook:active,.UserRegisterBase .squareLogo.facebook.active{border:1px solid #192848;border-top-color:#263c6e;}
.UserRegisterBase .squareLogo.facebook:active,.UserRegisterBase .squareLogo.facebook.active{background-color:#35559d;background:-webkit-linear-gradient(#3f66ba, #2c4681);background:linear-gradient(#3f66ba, #2c4681);box-shadow:inset 0 2px 3px rgba(0, 0, 0, 0.2);}
.UserRegisterBase .close{float:right;margin:-10px 40px 0 0;}
.UserRegisterBase .close:hover em{width:16px;height:16px;background:url('/webapp/style/sprites/webapp-desktop-main-1x.78956675.png') -378px -433px no-repeat;}
.UserRegisterBase .Button.xlarge{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22);margin-bottom:4px;}
.UserRegisterBase .Button.xlarge span{position:relative;top:3px;}
.UserRegisterBase .formInlineCheckedSet label span,.UserRegisterBase .formCheckedSet label span{color:#888;font-size:18px;font-weight:normal;}
.UserRegisterBase .formInlineCheckedSet label.hasError span,.UserRegisterBase .formCheckedSet label.hasError span{color:#cb2027;}
.UserRegisterBase .formCheckedSet{float:left;}
.UserRegisterBase .genderFormItem{float:left;}
.UserRegisterBase .fbTimelineEnabled.notAutoPopulatedGender{padding-left:0;}
.UserRegisterBase .fbTimelineEnabled .fieldsetWrapper{margin-left:0;}
.UserRegisterBase .formErrorMessage,.UserRegisterBase .formWarningMessage{color:#cb2027;position:absolute;right:57px;top:16px;}
.UserRegisterBase .loginForm{margin:0;}
.UserRegisterBase .loginForm input[type="text"].hasError,.UserRegisterBase .loginForm input[type="text"].hasWarning,.UserRegisterBase .loginForm input[type="email"].hasError,.UserRegisterBase .loginForm input[type="email"].hasWarning,.UserRegisterBase .loginForm input[type="password"].hasError,.UserRegisterBase .loginForm input[type="password"].hasWarning,.UserRegisterBase .loginForm textarea.hasError,.UserRegisterBase .loginForm textarea.hasWarning{background:#fefefe;border-color:#cb2027;box-shadow:0 0 6px rgba(255, 0, 0, 0.35);position:relative;}
.UserRegisterBase .loginForm .domain{white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;float:left;font-size:14px;line-height:32px;margin-right:5px;padding-left:2px;width:131px;}
.UserRegisterBase .loginForm ul li .formInputWrapper{margin:0;}
.UserRegisterBase .loginForm .dateFieldInput{margin:0;padding:0;}
.UserRegisterBase .formFooterButtons .Button{vertical-align:middle;}
.UserRegisterBase .personalizeFromOffsiteBrowsing{float:left;}
.UserRegisterBase .personalizeFromOffsiteBrowsing .fieldsetWrapper{margin-left:0;}
.UserRegisterBase .suggestion{display:none;margin-left:0;margin-top:10px;text-align:right;}
.UserRegisterBase .suggestionStick{color:#cb2027;}
.UserRegisterBase .suggestionEmail{color:#cb2027;}
.UserRegisterBase .ageLabel{position:absolute;padding-left:20px;margin-left:0;font-size:20px;padding-top:15px;display:none;}
.UserRegisterBase .ageLabel.active{display:block;}
.UserRegisterBase .ageLabel .hiddenValue{visibility:hidden;}


.AppBase{margin-top: -1px;padding-top: 1px;}
.UserRegisterPage .contents{background: #fff;border-radius: 6px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);position: relative;width: 470px;z-index: 682;}


a.Button{-moz-box-sizing: border-box;box-sizing: border-box;}
.Button.borderless{background-color: transparent;border: 0;margin: 0;padding: 0;}
.Button.closeModal, .Button.closeDialog{margin: -6px;padding: 6px;position: absolute;right: 18px;top: 22px;}
.Button.closeModal em, .Button.closeDialog em{width: 12px;height: 12px;background: url(../img/css_img/webapp-common-main-1x.95de59eb.png) -220px -15px no-repeat;}
.UserRegister .firstName, .UserRegister .lastName{width: 190px;}
.UserRegister .firstName{padding-right: 10px;}
.UserRegister .firstName .formErrorMessage{right: 25px;}
.UserRegister .lastName{padding-left: 0;float: right;}
.formInlineCheckedSet li{display: inline-block;margin-right: 25px;}
.formInlineCheckedSet label{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;overflow: hidden;color: #555;cursor: pointer;}
.formInlineCheckedSet label>input{margin-right: 3px;}
.formInlineCheckedSet label>span{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 13px;font-weight: bold;vertical-align: middle;}
.UserRegisterBase .formInlineCheckedSet label span, .UserRegisterBase .formCheckedSet label span{color: #888;font-size: 18px;font-weight: normal;}
.UserRegister .termsTextCheckboxWrapper, .UserRegister .businessSignupWrapper{float: left;}
.UserRegister .termsTextCheckboxWrapper p, .UserRegister .businessSignupWrapper p{color: #666;font-size: 13px;line-height: 18px;margin-bottom: 0;}
.UserRegister .termsTextCheckboxWrapper p a, .UserRegister .businessSignupWrapper p a{color: #444;}
.Button.btn, .Button.moreItems:hover{background-color: #f7f7f7;background: -webkit-linear-gradient(#fff, #f0f0f0);background: linear-gradient(#fff, #f0f0f0);border: 1px solid #ccc;color: #5f5f5f;cursor: pointer;font-weight: bold;text-shadow: 0 1px #fff;white-space: nowrap;padding: 8px 14px 7px;}
.Button.btn.primary, .Button.btn.primaryOnHover:hover, .Button.btn.primaryOnHover:focus, .Button.btn.primaryOnHover.active, .Button.moreItems:hover.primary, .Button.moreItems:hover.primaryOnHover:hover, .Button.moreItems:hover.primaryOnHover:focus, .Button.moreItems:hover.primaryOnHover.active{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;background-image: -webkit-linear-gradient(#e3262e, #ab171e);background-image: linear-gradient(#e3262e, #ab171e);background-color: #ab171e;border-bottom-color: #820a0f;border-left-color: #9a1015;border-right-color: #9a1015;border-top-color: #af151b;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);color: #fff;text-shadow: 0 -1px rgba(0, 0, 0, 0.11);}

.LoginPage{overflow: hidden;}
.LoginPage .contents{background: #fff;border-radius: 6px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);margin: 100px auto;position: relative;width: 470px;z-index: 682;width: 380px;}
.LoginBase .loginForm{margin-bottom: 0;}
.LoginPage .Login .loginForm{width: 380px;}
.LoginBase .socialLogin{border-radius: 6px 6px 0 0;padding: 15px 40px;}
.LoginBase .socialLogin:after{content: "";display: table;clear: both;}
.Button.unAuth{display: inline-block;padding-bottom: 7px;padding-top: 8px;}
.Button.large{font-size: 15px;padding: 10px 18px;}
.Button.btn.unAuthFacebookConnect, .Button.btn.unAuthGplusConnect, .Button.btn.unAuthTwitterConnect, .Button.btn.unAuthRakutenConnect, .Button.moreItems:hover.unAuthFacebookConnect, .Button.moreItems:hover.unAuthGplusConnect, .Button.moreItems:hover.unAuthTwitterConnect, .Button.moreItems:hover.unAuthRakutenConnect{height: 42px;position: relative;}
.Button.btn.unAuthGplusConnect, .Button.moreItems:hover.unAuthGplusConnect{background-color: #ef6666;background: -webkit-linear-gradient(#f87474, #e65858);background: linear-gradient(#f87474, #e65858);border: 1px solid #e34242;border-top-color: #e65858;color: #444;text-shadow: 0 1px #fff;}
.Button.btn.unAuthTwitterConnect, .Button.moreItems:hover.unAuthTwitterConnect{background-color: #3fa7d0;background: -webkit-linear-gradient(#5fbee4, #2091bd);background: linear-gradient(#5fbee4, #2091bd);border: 1px solid #1c80a8;border-top-color: #2091bd;color: #444;text-shadow: 0 1px #fff;}
.Button.btn.unAuthFacebookConnect em, .Button.btn.unAuthGplusConnect em, .Button.btn.unAuthTwitterConnect em, .Button.btn.unAuthRakutenConnect em, .Button.moreItems:hover.unAuthFacebookConnect em, .Button.moreItems:hover.unAuthGplusConnect em, .Button.moreItems:hover.unAuthTwitterConnect em, .Button.moreItems:hover.unAuthRakutenConnect em{bottom: 0;box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);height: 39px;left: 0;padding: 0;position: absolute;top: 0;width: 41px;}
.Button.btn.unAuthGplusConnect em, .Button.moreItems:hover.unAuthGplusConnect em{width: 41px;height: 41px;background: url(../img/css_img/webapp-common-main-1x.95de59eb.png) -129px -44px no-repeat;background-color: #e65858;background-color: rgba(255, 255, 255, 0.07);}
.Button.btn.unAuthTwitterConnect em, .Button.moreItems:hover.unAuthTwitterConnect em{width: 41px;height: 41px;background: url(../img/css_img/webapp-common-main-1x.95de59eb.png) 0px -97px no-repeat;background-color: #49b6e1;background-color: rgba(255, 255, 255, 0.08);}
.Button.btn.registerLoginButton em, .Button.moreItems:hover.registerLoginButton em{left: 0;position: absolute;padding: 0;top: 0;}
.Button.btn.unAuthFacebookConnect span, .Button.btn.unAuthGplusConnect span, .Button.btn.unAuthTwitterConnect span, .Button.btn.unAuthRakutenConnect span, .Button.moreItems:hover.unAuthFacebookConnect span, .Button.moreItems:hover.unAuthGplusConnect span, .Button.moreItems:hover.unAuthTwitterConnect span, .Button.moreItems:hover.unAuthRakutenConnect span{text-shadow: 0 -1px rgba(0, 0, 0, 0.25);color: #fff;}
.Button.btn.registerLoginButton span, .Button.moreItems:hover.registerLoginButton span{display: inline-block;margin-left: 42px;margin-top: -3px;}
.LoginBase .unAuthFacebookConnect, .LoginBase .unAuthGplusConnect, .LoginBase .unAuthRakutenConnect, .LoginBase .unAuthTwitterConnect{float: right;margin-bottom: 10px;margin-right: 0;text-align: left;width: 100%;}
.LoginBase .userLogin{border-top: 1px solid #dfdfdf;margin-bottom: 10px;padding-top: 15px;}
.LoginPageBase .Login .hasError{box-shadow: 0 0 6px rgba(255, 0, 0, 0.35);border-color: #cb2027 !important;}
.LoginPage .Login .hasError{background: transparent !important;}
.LoginPageBase .Login .formErrorMessage{color: #cb2027;position: absolute;}
.LoginPage .Login .formErrorMessage{right: 57px;top: 16px;}
.Login .businessHint{padding-left: 40px;}
.LoginBase .loginError{color: #cb2027;margin: 0 0 14px 40px;}
.Login .formFooter a.alreadyAPinner, .Login .formFooter a.forgotPassword{margin-top: 0;}
.Login .formFooter a{display: inline-block;margin-top: 11px;}